$MidnightGreen: #014E56;
$LightCoral: #F67E7E;
$White: #fff;
$RaptureBlue: #79C8C7;
$PoliceBlue: #2C6269;
$DeepJungleGreen: #004047;
$SacramentoStateGreen: #012F34;
$DarkGreen: #002529;

@mixin  whiteFont18norm{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    display: inline-block;
}

body{
    font-family: 'Livvic', sans-serif;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header{
    padding: 73px 0 250px;
    margin: 0;
    background-color: $MidnightGreen;
    background-image: url('../images/header/leftdisk.svg'), url('../images/header/bottombackground.svg');
    background-repeat: no-repeat;
    background-size: 300px 200px, 450px 250px;
    background-position: -100px 50%, 80% 115%;
}

.section1{
    &-nav{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--leftColumn{
            display: flex;
            width: 30%;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            &__logo{
                object-fit: contain;

            }
            &__link{
                @include whiteFont18norm();
                padding: 10px 5px;
                &:active{
                    background-color: $PoliceBlue;
                    opacity: 0.5;
                }
            }
        }
        &--rightColumn{
            &__link{
                display: inline-block;
                padding: 11px 33px;
                @include whiteFont18norm();
                border: 2px solid #FFFFFF;
                border-radius: 24px;
                &:hover{
                    color: $DarkGreen;
                    background-color: $White;
                }
                &:active{
                    color: $DarkGreen;
                    opacity: 0.5;
                    background-color: transparent;
                }
            }
        }
    }
    &-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 159px;
        &__heading{
            font-style: normal;
            font-weight: bold;
            font-size: 100px;
            line-height: 100px;
            color: #FFFFFF;
            max-width: 583px;
        }
        &__paragraph{
            max-width: 584px;
            @include whiteFont18norm();
            position: relative;
            &:before{
                content: '';
                position: absolute;
                top: -100px;
                left: 0;
                min-width: 50px;
                height: 4px;
                background-color: $LightCoral;
                z-index: 3;
            }
        }
    }
}

.section2Main{
    padding: 140px 0 168px;
    background-color: $DeepJungleGreen;
    background-image: url('../images/section2/bottomright.svg'), url(../images/section2/background-disk.svg);
    background-repeat: no-repeat;
    background-position: bottom right,left top;
}

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &-cardWrapper{
        width: 100%;
        box-sizing: border-box;
        display: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        &--card{
            width: 30%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid red;
        }
    }
}


.section3Main{
    background-color: red;
}






































// Foooter top

.section4Container{
    padding: 76px 0;
    background-color: $LightCoral;
    background-image: url('../images/section4/backgroundDisk.svg');
    background-position: left 130%;
    background-size: 150px 150px;
    background-repeat: no-repeat;
}

.section4{
    &-text{
        display: flex;
        justify-content: space-between;
        &__heading{
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: #012F34;
        }
        &__link{
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #012F34;
            display: inline-block;
            padding: 11px 33px 11px;
            border: 2px solid #012F34;
            border-radius: 24px;
            display: flex;
            align-items: center;
            &:hover{
                background-color: $White;
                color: #012F34;
            }
            &:active{
                background-color: transparent;
                color: #012F34;
                opacity: 0.5;
            }
        }
    }
}





// Footer Side

footer{
    padding: 48px 0;
    background-color: $DarkGreen;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-leftColumn{
        width: 40%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        &-menuSide{
            max-width: 160px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            &__link{
                @include whiteFont18norm();
            }
        }
        &__ComapnyInfo{
            max-width: 35%;
            box-sizing: border-box;
            font-style: normal;
            font-weight: 600;
            line-height: 25px;
            font-size: 15px;
            color: #FFFFFF;
            opacity: 0.6;
        }
    }
    &-rightSideCon{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        &-rightSide{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            &__socialNetwork{
                object-fit: contain;
                display: inline-block;
                margin: 0 8px;
            }
        }
        &__copyright{
            margin-top: 51px;
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            text-align: right;
            color: #FFFFFF;
            opacity: 0.6;
        }
    }
}



















