body{
    margin: 0;
    padding: 0;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
}

.box.active{
    background-color: blue;
}

.box.bluebox{
    background-color: green;
}























